+++
title = "Roran60 Blog"
linkTitle = "Roran60 Blog"

+++

{{< blocks/cover title="Roran600 Blog" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog/" >}}">
		Blog <i class="fa-regular fa-pen-nib"></i></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		Wiki <i class="fa-regular fa-newspaper"></i>
	</a> 
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/community" >}}">
		Komunita <i class="fa-brands fa-discord"></i>
	</a>
	<p class="lead mt-5">Návody a zaujímavosti zo sveta PC a elektrotechniky.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<p>Novinky na tejto stránke : </p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-regular fa-newspaper" title="Wiki!" url="/sk/docs/" %}}

Čo je nové na Wiki ? 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-discord" title="Pripoj sa na náš Discord !" url="/sk/community/"  %}}    
Ak potrebuješ vyriešiť nejaký problém alebo si iba pokecať od toho je tu náš Discord.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-regular fa-pen-nib" title="Blog!" url="/sk/blog/" %}}
Čo je nové na Blogu ?
{{% /blocks/feature %}}


{{< /blocks/section >}}
